@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
min-height: 100vh;
}

#root {
min-height: 100vh;
display: flex;
flex-flow: column;
}

.focInput:focus-within div {
border-color: #2b2e4a;
}